header{
    width: 100%;
    height: 200px;
    background: #2c2e31;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

body {
    background-color: #f9f9f9;
    font-family: Ubuntu,sans-serif;
    transition: all .25s ease-in-out;
    position: relative;
    left: 0;
}

p,ul{
text-align: center;
color: #454546;
}

h1,h4{
    text-align: center;
    color: whitesmoke;
}
.frame {
    margin-left: 20px;
    margin-right: 20px;
}
.card_offset {
    margin-top: -80px;
}
.card {
    position: relative;
    padding: 20px 0;
    width: 50%;
    margin-left: 25%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 1px rgb(0 0 0 / 50%);
    overflow: hidden;
    text-align: center;
    z-index: 5;
}

.card .foto_usuario {
    position: relative;
    background: #fff;
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,.25);
} 
.card .foto_usuario .refresh {
    position: absolute;
    bottom: -30px;
    left: 50%;
    padding: 10px 15px;
    color: #fff;
    background: rgba(0,0,0,.75);
    border-radius: 3px;
    text-decoration: none;
    opacity: 0;
    display: block;
    transform: translateX(-50%);
    transition: all .25s ease-out;
}
.horizontal_center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
div {
    display: block;
}
img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow-clip-margin: content-box;
    overflow: clip;
}


.card:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 130px;
    top: 0;
    background: #f9f9f9;
    border-bottom: 1px solid rgba(0,0,0,.15);
    z-index: -1;
}