
body {
    background-color: #fcfcfc;
    position: relative;
}

#imagen_presentacion{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/743/486/large_2x/design-in-the-concept-of-electronic-circuit-boards-vector.jpg");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

#foto_cv {
    border:#fcfcfc 6px solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    transform: translateY(-40%);
    margin-bottom: 0px;
}

.espacio{
    line-height: 230%;
}

#imagen_lateral{
    border-radius: 0%;
    border: none;
    width: 500px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    transform: translateY(0%);
}

.borde{ 
    border-width: 0;
    list-style-type: circle;
}

button{
    border-radius: 50%;
    cursor: pointer;
    border: none;
    width: 120px;
    height: 120px;
    text-align: center;
    transition: all 0.5s ease;
    display: inline-block;
    background-color: #162e63;
    color: rgb(255, 255, 245);
}

button:hover{
    background-color: rgb(255, 255, 245);
    color: #485a83;
    text-align: center;
    transition: all 0.5s ease;
}

footer{
    
    background-color: #162e63 ;
    
}

#mensaje{
    width: 80px;
    height: 40px;
}
